<!DOCTYPE html>
<html>
<head>
  <title>PodcastFm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="notice_wrapper">
    <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert alert-#{key}" %>
    <% end %>
</div>

<% unless current_page?(root_path) %>
    <%= render "layouts/header" %>
<% end %>

    <%= yield %>

<script>
  setTimeout(function() {
     $("#notice_wrapper").fadeOut("slow", function() {
        $(this).remove();
     });
  }, 4500);
</script>
</body>
</html>
